# .travis.yml

language: python
python:
  - 3.5
  - 3.6
  - 3.7
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.ccache  # https://github.com/travis-ci/travis-ci/issues/5853
 
env:
  global:
    # Doctr deploy key for Young-won/deepbiome
    - secure: "g5obCUXvcQOPFWn3bw6o0O1XJists3EBqRg7x/yeKsB7eyASqX4IbrxsHX5bKWqSP61ztyIIAsWCk+Z1Rep2v2slgFAGfx8svEnw932QgsAZo5BTeBX9chsh06vzFpmgM5pukLS/EuosgWG85oXdICB7ywXBCM9MUu3GL2+C6OtB3Jsw4D+3XH3fOrkmgZpm7GXI2t+YWHJMiIHL4ejE17I7cznmugWTpiHyP60AZveDlzYguXd01XsBsarTRe8Os7+BreTbSLttyvAGm789M8m9qgDQ75p7+rKZq1ysL6HNw6Pa67DlWEZt6QVzPjpr+uhD/YMkUGfvZfrRx7LYMpYWaWS/LWCirXHc+jE/cA3HHmnuIt3anPF2yK5db9+OtQDR/yafCXi75nl/SgFvSg1WSttyxQLVXv7pp6psgr8ZdLAbIvr6CCXSjBq7Ndo+f6rnU0EYg6qmH1Jj4/1mygyyXndsESrPA+LVoCrgfRiOsaQ07z6pvskmBqfBWKEGHg4CdiOLPf84WbCwbQQqjGHs2UORbB6661k+eY2dKAOSpsjpnypLqem++WpxkxgriVVvrNHIW4MnYhYOJoNoJrA9YBMBkeAPxgqYcAAp3B9V3cwkdC9I2G2I1W6Xg8CQBW2HTn/F08Qcwlq5VylfXQmXDBkcgbGUFelDXHYfmMU="

install:
  # Install this package and the packages listed in requirements.txt.
  - pip install .
  # Install extra requirements for running tests and building docs.
  - pip install -r requirements-dev.txt

script:
  - coverage run -m pytest  # Run the tests and check for test coverage.
  - coverage report -m  # Generate test coverage report.
  - codecov  # Upload the report to codecov.
  #- flake8  # Enforce code style ('relaxed' line length limit is set in .flake8 config file).
  - set -e
  - make -C docs html  # Build the documentation.
  - pip install doctr
  - doctr deploy --built-docs docs/build/html .
 
