# List required packages in this file, one per line.
tensorflow <= 2.1;python_version<"3.8"
tensorflow <= 2.2;python_version<"3.9"
tensorflow <= 2.5;python_version>="3.9"
keras<=2.3
pandas
sklearn
PyQt5==5.10;python_version<"3.6"
PyQt5>=5.10;python_version>="3.6"
ete3
